App_WebReferences/RifProdotti/WsProdotti.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PRODOTTI_Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiaveVENDITORE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="chiaveCATEGORIA" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="titolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="prezzo" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="qnt" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="datacaricamento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="percamatron" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PRODOTTI_InsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="PRODOTTI_Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiave" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="chiaveVENDITORE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="chiaveCATEGORIA" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TITOLO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrizione" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="prezzo" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="qta" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="datacaricamento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="percamatron" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PRODOTTI_UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="PRODOTTI_Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PRODOTTI_DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="PRODOTTI_SelectAll">
        <s:complexType />
      </s:element>
      <s:element name="PRODOTTI_SelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PRODOTTI_SelectAllResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PRODOTTI_SelectAll_DDL">
        <s:complexType />
      </s:element>
      <s:element name="PRODOTTI_SelectAll_DDLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PRODOTTI_SelectAll_DDLResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PRODOTTI_SelectbyKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PRODOTTI_SelectbyKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PRODOTTI_SelectbyKeyResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PRODOTTI_SelectbyVenditore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiaveVENDITORE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PRODOTTI_SelectbyVenditoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PRODOTTI_SelectbyVenditoreResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PRODOTTI_SelectbyCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiaveCATEGORIA" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PRODOTTI_SelectbyCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PRODOTTI_SelectbyCategoriaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PRODOTTI_MAX20Novità">
        <s:complexType />
      </s:element>
      <s:element name="PRODOTTI_MAX20NovitàResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PRODOTTI_MAX20NovitàResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PRODOTTI_MAX20Valutazione">
        <s:complexType />
      </s:element>
      <s:element name="PRODOTTI_MAX20ValutazioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PRODOTTI_MAX20ValutazioneResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PRODOTTI_MAX20Venduti">
        <s:complexType />
      </s:element>
      <s:element name="PRODOTTI_MAX20VendutiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PRODOTTI_MAX20VendutiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PRODOTTI_InsertSoapIn">
    <wsdl:part name="parameters" element="tns:PRODOTTI_Insert" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_InsertSoapOut">
    <wsdl:part name="parameters" element="tns:PRODOTTI_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:PRODOTTI_Update" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:PRODOTTI_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:PRODOTTI_Delete" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:PRODOTTI_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_SelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:PRODOTTI_SelectAll" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_SelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:PRODOTTI_SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_SelectAll_DDLSoapIn">
    <wsdl:part name="parameters" element="tns:PRODOTTI_SelectAll_DDL" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_SelectAll_DDLSoapOut">
    <wsdl:part name="parameters" element="tns:PRODOTTI_SelectAll_DDLResponse" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_SelectbyKeySoapIn">
    <wsdl:part name="parameters" element="tns:PRODOTTI_SelectbyKey" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_SelectbyKeySoapOut">
    <wsdl:part name="parameters" element="tns:PRODOTTI_SelectbyKeyResponse" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_SelectbyVenditoreSoapIn">
    <wsdl:part name="parameters" element="tns:PRODOTTI_SelectbyVenditore" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_SelectbyVenditoreSoapOut">
    <wsdl:part name="parameters" element="tns:PRODOTTI_SelectbyVenditoreResponse" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_SelectbyCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:PRODOTTI_SelectbyCategoria" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_SelectbyCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:PRODOTTI_SelectbyCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_MAX20NovitàSoapIn">
    <wsdl:part name="parameters" element="tns:PRODOTTI_MAX20Novità" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_MAX20NovitàSoapOut">
    <wsdl:part name="parameters" element="tns:PRODOTTI_MAX20NovitàResponse" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_MAX20ValutazioneSoapIn">
    <wsdl:part name="parameters" element="tns:PRODOTTI_MAX20Valutazione" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_MAX20ValutazioneSoapOut">
    <wsdl:part name="parameters" element="tns:PRODOTTI_MAX20ValutazioneResponse" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_MAX20VendutiSoapIn">
    <wsdl:part name="parameters" element="tns:PRODOTTI_MAX20Venduti" />
  </wsdl:message>
  <wsdl:message name="PRODOTTI_MAX20VendutiSoapOut">
    <wsdl:part name="parameters" element="tns:PRODOTTI_MAX20VendutiResponse" />
  </wsdl:message>
  <wsdl:portType name="WsProdottiSoap">
    <wsdl:operation name="PRODOTTI_Insert">
      <wsdl:input message="tns:PRODOTTI_InsertSoapIn" />
      <wsdl:output message="tns:PRODOTTI_InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_Update">
      <wsdl:input message="tns:PRODOTTI_UpdateSoapIn" />
      <wsdl:output message="tns:PRODOTTI_UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_Delete">
      <wsdl:input message="tns:PRODOTTI_DeleteSoapIn" />
      <wsdl:output message="tns:PRODOTTI_DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectAll">
      <wsdl:input message="tns:PRODOTTI_SelectAllSoapIn" />
      <wsdl:output message="tns:PRODOTTI_SelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectAll_DDL">
      <wsdl:input message="tns:PRODOTTI_SelectAll_DDLSoapIn" />
      <wsdl:output message="tns:PRODOTTI_SelectAll_DDLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectbyKey">
      <wsdl:input message="tns:PRODOTTI_SelectbyKeySoapIn" />
      <wsdl:output message="tns:PRODOTTI_SelectbyKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectbyVenditore">
      <wsdl:input message="tns:PRODOTTI_SelectbyVenditoreSoapIn" />
      <wsdl:output message="tns:PRODOTTI_SelectbyVenditoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectbyCategoria">
      <wsdl:input message="tns:PRODOTTI_SelectbyCategoriaSoapIn" />
      <wsdl:output message="tns:PRODOTTI_SelectbyCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_MAX20Novità">
      <wsdl:input message="tns:PRODOTTI_MAX20NovitàSoapIn" />
      <wsdl:output message="tns:PRODOTTI_MAX20NovitàSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_MAX20Valutazione">
      <wsdl:input message="tns:PRODOTTI_MAX20ValutazioneSoapIn" />
      <wsdl:output message="tns:PRODOTTI_MAX20ValutazioneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_MAX20Venduti">
      <wsdl:input message="tns:PRODOTTI_MAX20VendutiSoapIn" />
      <wsdl:output message="tns:PRODOTTI_MAX20VendutiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsProdottiSoap" type="tns:WsProdottiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PRODOTTI_Insert">
      <soap:operation soapAction="http://tempuri.org/PRODOTTI_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_Update">
      <soap:operation soapAction="http://tempuri.org/PRODOTTI_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_Delete">
      <soap:operation soapAction="http://tempuri.org/PRODOTTI_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectAll">
      <soap:operation soapAction="http://tempuri.org/PRODOTTI_SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectAll_DDL">
      <soap:operation soapAction="http://tempuri.org/PRODOTTI_SelectAll_DDL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectbyKey">
      <soap:operation soapAction="http://tempuri.org/PRODOTTI_SelectbyKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectbyVenditore">
      <soap:operation soapAction="http://tempuri.org/PRODOTTI_SelectbyVenditore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectbyCategoria">
      <soap:operation soapAction="http://tempuri.org/PRODOTTI_SelectbyCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_MAX20Novità">
      <soap:operation soapAction="http://tempuri.org/PRODOTTI_MAX20Novità" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_MAX20Valutazione">
      <soap:operation soapAction="http://tempuri.org/PRODOTTI_MAX20Valutazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_MAX20Venduti">
      <soap:operation soapAction="http://tempuri.org/PRODOTTI_MAX20Venduti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsProdottiSoap12" type="tns:WsProdottiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PRODOTTI_Insert">
      <soap12:operation soapAction="http://tempuri.org/PRODOTTI_Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_Update">
      <soap12:operation soapAction="http://tempuri.org/PRODOTTI_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_Delete">
      <soap12:operation soapAction="http://tempuri.org/PRODOTTI_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectAll">
      <soap12:operation soapAction="http://tempuri.org/PRODOTTI_SelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectAll_DDL">
      <soap12:operation soapAction="http://tempuri.org/PRODOTTI_SelectAll_DDL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectbyKey">
      <soap12:operation soapAction="http://tempuri.org/PRODOTTI_SelectbyKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectbyVenditore">
      <soap12:operation soapAction="http://tempuri.org/PRODOTTI_SelectbyVenditore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_SelectbyCategoria">
      <soap12:operation soapAction="http://tempuri.org/PRODOTTI_SelectbyCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_MAX20Novità">
      <soap12:operation soapAction="http://tempuri.org/PRODOTTI_MAX20Novità" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_MAX20Valutazione">
      <soap12:operation soapAction="http://tempuri.org/PRODOTTI_MAX20Valutazione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRODOTTI_MAX20Venduti">
      <soap12:operation soapAction="http://tempuri.org/PRODOTTI_MAX20Venduti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsProdotti">
    <wsdl:port name="WsProdottiSoap" binding="tns:WsProdottiSoap">
      <soap:address location="http://localhost:50799/WebServices/WsProdotti.asmx" />
    </wsdl:port>
    <wsdl:port name="WsProdottiSoap12" binding="tns:WsProdottiSoap12">
      <soap12:address location="http://localhost:50799/WebServices/WsProdotti.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>