App_WebReferences/rifChangePwdOL/WSChangePwd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ChangePwd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TIPO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePwdResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangePwdSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePwd" />
  </wsdl:message>
  <wsdl:message name="ChangePwdSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePwdResponse" />
  </wsdl:message>
  <wsdl:portType name="WsChangePwdSoap">
    <wsdl:operation name="ChangePwd">
      <wsdl:input message="tns:ChangePwdSoapIn" />
      <wsdl:output message="tns:ChangePwdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsChangePwdSoap" type="tns:WsChangePwdSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangePwd">
      <soap:operation soapAction="http://tempuri.org/ChangePwd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsChangePwdSoap12" type="tns:WsChangePwdSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangePwd">
      <soap12:operation soapAction="http://tempuri.org/ChangePwd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsChangePwd">
    <wsdl:port name="WsChangePwdSoap" binding="tns:WsChangePwdSoap">
      <soap:address location="https://amatronws.brovia.it/WebServices/WSChangePwd.asmx" />
    </wsdl:port>
    <wsdl:port name="WsChangePwdSoap12" binding="tns:WsChangePwdSoap12">
      <soap12:address location="https://amatronws.brovia.it/WebServices/WSChangePwd.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>