App_WebReferences/RifClienti/WsClienti.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CLIENTI_Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="prime" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="scadenzaprime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cognome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indirizzo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="citta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="provincia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CAP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CLIENTI_InsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="CLIENTI_Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiave" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="prime" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="scadenzaprime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cognome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indirizzo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="citta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="provincia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CAP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CLIENTI_UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="CLIENTI_SelectAll">
        <s:complexType />
      </s:element>
      <s:element name="CLIENTI_SelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CLIENTI_SelectAllResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CLIENTI_SelectAll_DDL">
        <s:complexType />
      </s:element>
      <s:element name="CLIENTI_SelectAll_DDLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CLIENTI_SelectAll_DDLResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CLIENTI_SelectByKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CLIENTI_SelectByKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CLIENTI_SelectByKeyResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CLIENTI_Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CLIENTI_LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CLIENTI_LoginResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CLIENTI_Prime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CLIENTI_PrimeResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CLIENTI_InsertSoapIn">
    <wsdl:part name="parameters" element="tns:CLIENTI_Insert" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_InsertSoapOut">
    <wsdl:part name="parameters" element="tns:CLIENTI_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:CLIENTI_Update" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:CLIENTI_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_SelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:CLIENTI_SelectAll" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_SelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:CLIENTI_SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_SelectAll_DDLSoapIn">
    <wsdl:part name="parameters" element="tns:CLIENTI_SelectAll_DDL" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_SelectAll_DDLSoapOut">
    <wsdl:part name="parameters" element="tns:CLIENTI_SelectAll_DDLResponse" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_SelectByKeySoapIn">
    <wsdl:part name="parameters" element="tns:CLIENTI_SelectByKey" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_SelectByKeySoapOut">
    <wsdl:part name="parameters" element="tns:CLIENTI_SelectByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_LoginSoapIn">
    <wsdl:part name="parameters" element="tns:CLIENTI_Login" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_LoginSoapOut">
    <wsdl:part name="parameters" element="tns:CLIENTI_LoginResponse" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_PrimeSoapIn">
    <wsdl:part name="parameters" element="tns:CLIENTI_Prime" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_PrimeSoapOut">
    <wsdl:part name="parameters" element="tns:CLIENTI_PrimeResponse" />
  </wsdl:message>
  <wsdl:portType name="WsClientiSoap">
    <wsdl:operation name="CLIENTI_Insert">
      <wsdl:input message="tns:CLIENTI_InsertSoapIn" />
      <wsdl:output message="tns:CLIENTI_InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_Update">
      <wsdl:input message="tns:CLIENTI_UpdateSoapIn" />
      <wsdl:output message="tns:CLIENTI_UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_SelectAll">
      <wsdl:input message="tns:CLIENTI_SelectAllSoapIn" />
      <wsdl:output message="tns:CLIENTI_SelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_SelectAll_DDL">
      <wsdl:input message="tns:CLIENTI_SelectAll_DDLSoapIn" />
      <wsdl:output message="tns:CLIENTI_SelectAll_DDLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_SelectByKey">
      <wsdl:input message="tns:CLIENTI_SelectByKeySoapIn" />
      <wsdl:output message="tns:CLIENTI_SelectByKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_Login">
      <wsdl:input message="tns:CLIENTI_LoginSoapIn" />
      <wsdl:output message="tns:CLIENTI_LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_Prime">
      <wsdl:input message="tns:CLIENTI_PrimeSoapIn" />
      <wsdl:output message="tns:CLIENTI_PrimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsClientiSoap" type="tns:WsClientiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CLIENTI_Insert">
      <soap:operation soapAction="http://tempuri.org/CLIENTI_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_Update">
      <soap:operation soapAction="http://tempuri.org/CLIENTI_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_SelectAll">
      <soap:operation soapAction="http://tempuri.org/CLIENTI_SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_SelectAll_DDL">
      <soap:operation soapAction="http://tempuri.org/CLIENTI_SelectAll_DDL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_SelectByKey">
      <soap:operation soapAction="http://tempuri.org/CLIENTI_SelectByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_Login">
      <soap:operation soapAction="http://tempuri.org/CLIENTI_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_Prime">
      <soap:operation soapAction="http://tempuri.org/CLIENTI_Prime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsClientiSoap12" type="tns:WsClientiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CLIENTI_Insert">
      <soap12:operation soapAction="http://tempuri.org/CLIENTI_Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_Update">
      <soap12:operation soapAction="http://tempuri.org/CLIENTI_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_SelectAll">
      <soap12:operation soapAction="http://tempuri.org/CLIENTI_SelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_SelectAll_DDL">
      <soap12:operation soapAction="http://tempuri.org/CLIENTI_SelectAll_DDL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_SelectByKey">
      <soap12:operation soapAction="http://tempuri.org/CLIENTI_SelectByKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_Login">
      <soap12:operation soapAction="http://tempuri.org/CLIENTI_Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_Prime">
      <soap12:operation soapAction="http://tempuri.org/CLIENTI_Prime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsClienti">
    <wsdl:port name="WsClientiSoap" binding="tns:WsClientiSoap">
      <soap:address location="http://localhost:50799/WebServices/WsClienti.asmx" />
    </wsdl:port>
    <wsdl:port name="WsClientiSoap12" binding="tns:WsClientiSoap12">
      <soap12:address location="http://localhost:50799/WebServices/WsClienti.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>