App_WebReferences/rifOrdiniOL/WSOrdini.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ORDINI_Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiavecorriere" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="chiaveprodotto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="chiavecliente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="datatransazione" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="qta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numeroordine" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ORDINI_InsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="ORDINI_Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiave" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="datatransazione" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="qta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numeroordine" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ORDINI_UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="ORDINI_SelectAll">
        <s:complexType />
      </s:element>
      <s:element name="ORDINI_SelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ORDINI_SelectAllResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ORDINI_SelectByKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ORDINI_SelectByKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ORDINI_SelectByKeyResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ORDINI_SelectByCorriere">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiavecorriere" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ORDINI_SelectByCorriereResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ORDINI_SelectByCorriereResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ORDINI_SelectByProdotto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiaveprodotto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ORDINI_SelectByProdottoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ORDINI_SelectByProdottoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ORDINI_SelectByCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiavecliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ORDINI_SelectByClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ORDINI_SelectByClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ORDINI_Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ORDINI_DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="ORDINI_GESTITO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiave" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="chiaveCorriere" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gestito" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ORDINI_GESTITOResponse">
        <s:complexType />
      </s:element>
      <s:element name="ORDINI_GESTISCI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ORDINI_GESTISCIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ORDINI_GESTISCIResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CLIENTI_ProdottoAcquistato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiaveProdotto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="chiaveCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CLIENTI_ProdottoAcquistatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CLIENTI_ProdottoAcquistatoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ORDINI_InsertSoapIn">
    <wsdl:part name="parameters" element="tns:ORDINI_Insert" />
  </wsdl:message>
  <wsdl:message name="ORDINI_InsertSoapOut">
    <wsdl:part name="parameters" element="tns:ORDINI_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="ORDINI_UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:ORDINI_Update" />
  </wsdl:message>
  <wsdl:message name="ORDINI_UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:ORDINI_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ORDINI_SelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:ORDINI_SelectAll" />
  </wsdl:message>
  <wsdl:message name="ORDINI_SelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:ORDINI_SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="ORDINI_SelectByKeySoapIn">
    <wsdl:part name="parameters" element="tns:ORDINI_SelectByKey" />
  </wsdl:message>
  <wsdl:message name="ORDINI_SelectByKeySoapOut">
    <wsdl:part name="parameters" element="tns:ORDINI_SelectByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ORDINI_SelectByCorriereSoapIn">
    <wsdl:part name="parameters" element="tns:ORDINI_SelectByCorriere" />
  </wsdl:message>
  <wsdl:message name="ORDINI_SelectByCorriereSoapOut">
    <wsdl:part name="parameters" element="tns:ORDINI_SelectByCorriereResponse" />
  </wsdl:message>
  <wsdl:message name="ORDINI_SelectByProdottoSoapIn">
    <wsdl:part name="parameters" element="tns:ORDINI_SelectByProdotto" />
  </wsdl:message>
  <wsdl:message name="ORDINI_SelectByProdottoSoapOut">
    <wsdl:part name="parameters" element="tns:ORDINI_SelectByProdottoResponse" />
  </wsdl:message>
  <wsdl:message name="ORDINI_SelectByClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ORDINI_SelectByCliente" />
  </wsdl:message>
  <wsdl:message name="ORDINI_SelectByClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ORDINI_SelectByClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ORDINI_DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:ORDINI_Delete" />
  </wsdl:message>
  <wsdl:message name="ORDINI_DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:ORDINI_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ORDINI_GESTITOSoapIn">
    <wsdl:part name="parameters" element="tns:ORDINI_GESTITO" />
  </wsdl:message>
  <wsdl:message name="ORDINI_GESTITOSoapOut">
    <wsdl:part name="parameters" element="tns:ORDINI_GESTITOResponse" />
  </wsdl:message>
  <wsdl:message name="ORDINI_GESTISCISoapIn">
    <wsdl:part name="parameters" element="tns:ORDINI_GESTISCI" />
  </wsdl:message>
  <wsdl:message name="ORDINI_GESTISCISoapOut">
    <wsdl:part name="parameters" element="tns:ORDINI_GESTISCIResponse" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_ProdottoAcquistatoSoapIn">
    <wsdl:part name="parameters" element="tns:CLIENTI_ProdottoAcquistato" />
  </wsdl:message>
  <wsdl:message name="CLIENTI_ProdottoAcquistatoSoapOut">
    <wsdl:part name="parameters" element="tns:CLIENTI_ProdottoAcquistatoResponse" />
  </wsdl:message>
  <wsdl:portType name="WsOrdiniSoap">
    <wsdl:operation name="ORDINI_Insert">
      <wsdl:input message="tns:ORDINI_InsertSoapIn" />
      <wsdl:output message="tns:ORDINI_InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ORDINI_Update">
      <wsdl:input message="tns:ORDINI_UpdateSoapIn" />
      <wsdl:output message="tns:ORDINI_UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectAll">
      <wsdl:input message="tns:ORDINI_SelectAllSoapIn" />
      <wsdl:output message="tns:ORDINI_SelectAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectByKey">
      <wsdl:input message="tns:ORDINI_SelectByKeySoapIn" />
      <wsdl:output message="tns:ORDINI_SelectByKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectByCorriere">
      <wsdl:input message="tns:ORDINI_SelectByCorriereSoapIn" />
      <wsdl:output message="tns:ORDINI_SelectByCorriereSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectByProdotto">
      <wsdl:input message="tns:ORDINI_SelectByProdottoSoapIn" />
      <wsdl:output message="tns:ORDINI_SelectByProdottoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectByCliente">
      <wsdl:input message="tns:ORDINI_SelectByClienteSoapIn" />
      <wsdl:output message="tns:ORDINI_SelectByClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ORDINI_Delete">
      <wsdl:input message="tns:ORDINI_DeleteSoapIn" />
      <wsdl:output message="tns:ORDINI_DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ORDINI_GESTITO">
      <wsdl:input message="tns:ORDINI_GESTITOSoapIn" />
      <wsdl:output message="tns:ORDINI_GESTITOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ORDINI_GESTISCI">
      <wsdl:input message="tns:ORDINI_GESTISCISoapIn" />
      <wsdl:output message="tns:ORDINI_GESTISCISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_ProdottoAcquistato">
      <wsdl:input message="tns:CLIENTI_ProdottoAcquistatoSoapIn" />
      <wsdl:output message="tns:CLIENTI_ProdottoAcquistatoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsOrdiniSoap" type="tns:WsOrdiniSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ORDINI_Insert">
      <soap:operation soapAction="http://tempuri.org/ORDINI_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_Update">
      <soap:operation soapAction="http://tempuri.org/ORDINI_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectAll">
      <soap:operation soapAction="http://tempuri.org/ORDINI_SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectByKey">
      <soap:operation soapAction="http://tempuri.org/ORDINI_SelectByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectByCorriere">
      <soap:operation soapAction="http://tempuri.org/ORDINI_SelectByCorriere" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectByProdotto">
      <soap:operation soapAction="http://tempuri.org/ORDINI_SelectByProdotto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectByCliente">
      <soap:operation soapAction="http://tempuri.org/ORDINI_SelectByCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_Delete">
      <soap:operation soapAction="http://tempuri.org/ORDINI_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_GESTITO">
      <soap:operation soapAction="http://tempuri.org/ORDINI_GESTITO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_GESTISCI">
      <soap:operation soapAction="http://tempuri.org/ORDINI_GESTISCI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_ProdottoAcquistato">
      <soap:operation soapAction="http://tempuri.org/CLIENTI_ProdottoAcquistato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsOrdiniSoap12" type="tns:WsOrdiniSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ORDINI_Insert">
      <soap12:operation soapAction="http://tempuri.org/ORDINI_Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_Update">
      <soap12:operation soapAction="http://tempuri.org/ORDINI_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectAll">
      <soap12:operation soapAction="http://tempuri.org/ORDINI_SelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectByKey">
      <soap12:operation soapAction="http://tempuri.org/ORDINI_SelectByKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectByCorriere">
      <soap12:operation soapAction="http://tempuri.org/ORDINI_SelectByCorriere" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectByProdotto">
      <soap12:operation soapAction="http://tempuri.org/ORDINI_SelectByProdotto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_SelectByCliente">
      <soap12:operation soapAction="http://tempuri.org/ORDINI_SelectByCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_Delete">
      <soap12:operation soapAction="http://tempuri.org/ORDINI_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_GESTITO">
      <soap12:operation soapAction="http://tempuri.org/ORDINI_GESTITO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ORDINI_GESTISCI">
      <soap12:operation soapAction="http://tempuri.org/ORDINI_GESTISCI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIENTI_ProdottoAcquistato">
      <soap12:operation soapAction="http://tempuri.org/CLIENTI_ProdottoAcquistato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsOrdini">
    <wsdl:port name="WsOrdiniSoap" binding="tns:WsOrdiniSoap">
      <soap:address location="https://amatronws.brovia.it/WebServices/WSOrdini.asmx" />
    </wsdl:port>
    <wsdl:port name="WsOrdiniSoap12" binding="tns:WsOrdiniSoap12">
      <soap12:address location="https://amatronws.brovia.it/WebServices/WSOrdini.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>