App_WebReferences/RifConfig/WsConfig.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CONFIG_Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiave" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="costroprime" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="perc1_10" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="perc11_100" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="perc101_1000" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="perc1001" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CONFIG_UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="CONFIG_SelectAll">
        <s:complexType />
      </s:element>
      <s:element name="CONFIG_SelectAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CONFIG_SelectAllResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CONFIG_UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:CONFIG_Update" />
  </wsdl:message>
  <wsdl:message name="CONFIG_UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:CONFIG_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="CONFIG_SelectAllSoapIn">
    <wsdl:part name="parameters" element="tns:CONFIG_SelectAll" />
  </wsdl:message>
  <wsdl:message name="CONFIG_SelectAllSoapOut">
    <wsdl:part name="parameters" element="tns:CONFIG_SelectAllResponse" />
  </wsdl:message>
  <wsdl:portType name="WsConfigSoap">
    <wsdl:operation name="CONFIG_Update">
      <wsdl:input message="tns:CONFIG_UpdateSoapIn" />
      <wsdl:output message="tns:CONFIG_UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CONFIG_SelectAll">
      <wsdl:input message="tns:CONFIG_SelectAllSoapIn" />
      <wsdl:output message="tns:CONFIG_SelectAllSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsConfigSoap" type="tns:WsConfigSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CONFIG_Update">
      <soap:operation soapAction="http://tempuri.org/CONFIG_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CONFIG_SelectAll">
      <soap:operation soapAction="http://tempuri.org/CONFIG_SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsConfigSoap12" type="tns:WsConfigSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CONFIG_Update">
      <soap12:operation soapAction="http://tempuri.org/CONFIG_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CONFIG_SelectAll">
      <soap12:operation soapAction="http://tempuri.org/CONFIG_SelectAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsConfig">
    <wsdl:port name="WsConfigSoap" binding="tns:WsConfigSoap">
      <soap:address location="http://localhost:50799/WebServices/WsConfig.asmx" />
    </wsdl:port>
    <wsdl:port name="WsConfigSoap12" binding="tns:WsConfigSoap12">
      <soap12:address location="http://localhost:50799/WebServices/WsConfig.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>