App_WebReferences/RifImmagini/WsImmagini.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IMMAGINI_SelectByKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IMMAGINI_SelectByKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IMMAGINI_SelectByKeyResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IMMAGINI_Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiaveprodotto" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="titolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="doc" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IMMAGINI_InsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="IMMAGINI_Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chiave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IMMAGINI_DeleteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IMMAGINI_SelectByKeySoapIn">
    <wsdl:part name="parameters" element="tns:IMMAGINI_SelectByKey" />
  </wsdl:message>
  <wsdl:message name="IMMAGINI_SelectByKeySoapOut">
    <wsdl:part name="parameters" element="tns:IMMAGINI_SelectByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IMMAGINI_InsertSoapIn">
    <wsdl:part name="parameters" element="tns:IMMAGINI_Insert" />
  </wsdl:message>
  <wsdl:message name="IMMAGINI_InsertSoapOut">
    <wsdl:part name="parameters" element="tns:IMMAGINI_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IMMAGINI_DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:IMMAGINI_Delete" />
  </wsdl:message>
  <wsdl:message name="IMMAGINI_DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:IMMAGINI_DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="WsImmaginiSoap">
    <wsdl:operation name="IMMAGINI_SelectByKey">
      <wsdl:input message="tns:IMMAGINI_SelectByKeySoapIn" />
      <wsdl:output message="tns:IMMAGINI_SelectByKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IMMAGINI_Insert">
      <wsdl:input message="tns:IMMAGINI_InsertSoapIn" />
      <wsdl:output message="tns:IMMAGINI_InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IMMAGINI_Delete">
      <wsdl:input message="tns:IMMAGINI_DeleteSoapIn" />
      <wsdl:output message="tns:IMMAGINI_DeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsImmaginiSoap" type="tns:WsImmaginiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IMMAGINI_SelectByKey">
      <soap:operation soapAction="http://tempuri.org/IMMAGINI_SelectByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IMMAGINI_Insert">
      <soap:operation soapAction="http://tempuri.org/IMMAGINI_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IMMAGINI_Delete">
      <soap:operation soapAction="http://tempuri.org/IMMAGINI_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsImmaginiSoap12" type="tns:WsImmaginiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IMMAGINI_SelectByKey">
      <soap12:operation soapAction="http://tempuri.org/IMMAGINI_SelectByKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IMMAGINI_Insert">
      <soap12:operation soapAction="http://tempuri.org/IMMAGINI_Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IMMAGINI_Delete">
      <soap12:operation soapAction="http://tempuri.org/IMMAGINI_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsImmagini">
    <wsdl:port name="WsImmaginiSoap" binding="tns:WsImmaginiSoap">
      <soap:address location="http://localhost:50799/WebServices/WsImmagini.asmx" />
    </wsdl:port>
    <wsdl:port name="WsImmaginiSoap12" binding="tns:WsImmaginiSoap12">
      <soap12:address location="http://localhost:50799/WebServices/WsImmagini.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>