App_WebReferences/rifFiltraOL/WSFiltra.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FILTRA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FILTRAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FILTRAResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FILTRA_Corrieri">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CORRIERI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FILTRA_CorrieriResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FILTRA_CorrieriResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FILTRA_Venditori">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VENDITORI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FILTRA_VenditoriResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FILTRA_VenditoriResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FILTRASoapIn">
    <wsdl:part name="parameters" element="tns:FILTRA" />
  </wsdl:message>
  <wsdl:message name="FILTRASoapOut">
    <wsdl:part name="parameters" element="tns:FILTRAResponse" />
  </wsdl:message>
  <wsdl:message name="FILTRA_CorrieriSoapIn">
    <wsdl:part name="parameters" element="tns:FILTRA_Corrieri" />
  </wsdl:message>
  <wsdl:message name="FILTRA_CorrieriSoapOut">
    <wsdl:part name="parameters" element="tns:FILTRA_CorrieriResponse" />
  </wsdl:message>
  <wsdl:message name="FILTRA_VenditoriSoapIn">
    <wsdl:part name="parameters" element="tns:FILTRA_Venditori" />
  </wsdl:message>
  <wsdl:message name="FILTRA_VenditoriSoapOut">
    <wsdl:part name="parameters" element="tns:FILTRA_VenditoriResponse" />
  </wsdl:message>
  <wsdl:portType name="WsFiltraSoap">
    <wsdl:operation name="FILTRA">
      <wsdl:input message="tns:FILTRASoapIn" />
      <wsdl:output message="tns:FILTRASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FILTRA_Corrieri">
      <wsdl:input message="tns:FILTRA_CorrieriSoapIn" />
      <wsdl:output message="tns:FILTRA_CorrieriSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FILTRA_Venditori">
      <wsdl:input message="tns:FILTRA_VenditoriSoapIn" />
      <wsdl:output message="tns:FILTRA_VenditoriSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsFiltraSoap" type="tns:WsFiltraSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FILTRA">
      <soap:operation soapAction="http://tempuri.org/FILTRA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FILTRA_Corrieri">
      <soap:operation soapAction="http://tempuri.org/FILTRA_Corrieri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FILTRA_Venditori">
      <soap:operation soapAction="http://tempuri.org/FILTRA_Venditori" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsFiltraSoap12" type="tns:WsFiltraSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FILTRA">
      <soap12:operation soapAction="http://tempuri.org/FILTRA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FILTRA_Corrieri">
      <soap12:operation soapAction="http://tempuri.org/FILTRA_Corrieri" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FILTRA_Venditori">
      <soap12:operation soapAction="http://tempuri.org/FILTRA_Venditori" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsFiltra">
    <wsdl:port name="WsFiltraSoap" binding="tns:WsFiltraSoap">
      <soap:address location="https://amatronws.brovia.it/WebServices/WSFiltra.asmx" />
    </wsdl:port>
    <wsdl:port name="WsFiltraSoap12" binding="tns:WsFiltraSoap12">
      <soap12:address location="https://amatronws.brovia.it/WebServices/WSFiltra.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>